@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-Red: hsl(0, 78%, 62%);
    --color-Cyan: hsl(180, 62%, 55%);
    --color-Orange: hsl(34, 97%, 64%);
    --color-Blue: hsl(212, 86%, 64%);
    --color-Very-Dark-Blue: hsl(234, 12%, 34%);
    --color-Grayish-Blue: hsl(229, 6%, 66%);
    --color-Very-Light-Gray: hsl(0, 0%, 94%);
    --color-shadow: hsl(0, 3%, 85%);
    --color-white: hsl(0, 0%, 100%);
    --color-a: hsl(228, 45%, 44%);
    --radius: 5px;
    --Weight1: 300;
    --Weight2: 400;
    --Weight3: 600;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

body {
    font-family: "Poppins", serif;
    height: 100vh;
    color: var(--color-Very-Dark-Blue);
    background-color: var(--color-Very-Light-Gray);
}

img {
    display: block;
    width: 100%;
}

header {
    text-align: center;
    padding: 6rem 2rem 3rem 2rem;
}

footer {
    height: 5vh;
    place-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: var(--Weight3);
}

h2 {
    font-size: 1.2rem;
    font-weight: var(--Weight3);
}

p {
    font-weight: var(--Weight1);
    color: var(--color-Grayish-Blue);
    margin-top: 0.5rem;
    line-height: 1.8;
}

.span-header {
    font-size: 2rem;
    font-weight: var(--Weight1);
}

.p-header {
    max-width: 40rem;
    margin: 1.5rem auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 0 8rem;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card {
    padding: 2rem;
    height: 10rem;
    background-color: var(--color-white);
    border-radius: var(--radius);
    box-shadow: 0px 7px 20px 0px var(--color-shadow);
    position: relative;
    transition: 0.5s;

    & p {
        max-width: 18rem;
        font-size: 0.8rem;

    }

    & img {
        margin-top: 2rem;
        width: 50px;
        position: absolute;
        right: 10%;
        bottom: 15%;
    }

    &:hover {
        scale: 1.05;
    }
}

.cyan {
    border-top: 5px solid var(--color-Cyan);
}

.red {
    border-top: 5px solid var(--color-Red);
}

.orange {
    border-top: 5px solid var(--color-Orange);
}

.blue {
    border-top: 5px solid var(--color-Blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 4rem;

    & a {
        color: var(--color-a);
    }
}

@media (max-width:1000px) {

    .grid {
        grid-template-columns: 1fr;
        padding: 2.5rem;
    }

    .card {
        height: 14rem;

        & img {
            width: 70px;
        }

        & p {
            font-size: 1rem;
        }
    }

}